In [3]:
#importar librerias
import pandas as pd
import numpy as np
from numpy import math
#importar librerias para visualizar datos
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
#cargar los datos para analizar
df=pd.read_csv('/content/OnlineRetail.csv')
df.head()

  InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country
0  536365;85123A;WHITE HANGING HEART T-LIGHT HOLD...
1  536365;71053;WHITE METAL LANTERN;6;12/1/2010 8...
2  536365;84406B;CREAM CUPID HEARTS COAT HANGER;8...
3  536365;84029G;KNITTED UNION FLAG HOT WATER BOT...
4  536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6...

encontre ocho columnas con cinco filas y no se encuentran datos nulos o perdidos, dado que no se observan

In [6]:
#checamos su existen valores nulos
df.isna().sum()

InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country    0
dtype: int64

In [7]:
df.isnull().sum()

InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country    0
dtype: int64

In [8]:
df.columns

Index(['InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country'], dtype='object')

In [12]:
#calcula maximo, media, minimo y desviacion
df.describe()

       InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country
count                                              541909
unique                                             536641
top     555524;22698;PINK REGENCY TEACUP AND SAUCER;1;...
freq                                                   20

In [13]:
# se borran columnas que tienen datos nulos
df.dropna

<bound method DataFrame.dropna of        InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country
0       536365;85123A;WHITE HANGING HEART T-LIGHT HOLD...
1       536365;71053;WHITE METAL LANTERN;6;12/1/2010 8...
2       536365;84406B;CREAM CUPID HEARTS COAT HANGER;8...
3       536365;84029G;KNITTED UNION FLAG HOT WATER BOT...
4       536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6...
...                                                   ...
541904  581587;22613;PACK OF 20 SPACEBOY NAPKINS;12;12...
541905  581587;22899;CHILDREN'S APRON DOLLY GIRL ;6;12...
541906  581587;23254;CHILDRENS CUTLERY DOLLY GIRL ;4;1...
541907  581587;23255;CHILDRENS CUTLERY CIRCUS PARADE;4...
541908  581587;22138;BAKING SET 9 PIECE RETROSPOT ;3;1...

[541909 rows x 1 columns]>

In [14]:
df.describe

<bound method NDFrame.describe of        InvoiceNo;StockCode;Description;Quantity;InvoiceDate;UnitPrice;CustomerID;Country
0       536365;85123A;WHITE HANGING HEART T-LIGHT HOLD...
1       536365;71053;WHITE METAL LANTERN;6;12/1/2010 8...
2       536365;84406B;CREAM CUPID HEARTS COAT HANGER;8...
3       536365;84029G;KNITTED UNION FLAG HOT WATER BOT...
4       536365;84029E;RED WOOLLY HOTTIE WHITE HEART.;6...
...                                                   ...
541904  581587;22613;PACK OF 20 SPACEBOY NAPKINS;12;12...
541905  581587;22899;CHILDREN'S APRON DOLLY GIRL ;6;12...
541906  581587;23254;CHILDRENS CUTLERY DOLLY GIRL ;4;1...
541907  581587;23255;CHILDRENS CUTLERY CIRCUS PARADE;4...
541908  581587;22138;BAKING SET 9 PIECE RETROSPOT ;3;1...

[541909 rows x 1 columns]>